/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.informes {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.actividad {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actividad h3 {
    color: #333;
    margin-top: 0;
}

.actividad p {
    color: #666;
    margin-bottom: 5px;
}
.back-button {
    position: initial;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.prev-button, .next-button {
    position: fixed;
    bottom: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

.prev-button:hover, .next-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

#logout {
    background-color: #ff0000; /* Color de fondo (rojo claro) */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: absolute; /* Fija la posición en la pantalla */
    top: 20px; /* Alinea el botón 20px desde la parte superior */
    right: 20px; /* Alinea el botón 20px desde el borde derecho */
    z-index: 1000; /* Asegura que el botón quede encima de otros elementos */
}

/* Cambiar el color del botón cuando el usuario pasa el ratón encima */
#logout:hover {
    background-color: #e60000; /* Color rojo más oscuro */
}

/* Efecto al hacer clic */
#logout:active {
    background-color: #cc0000; /* Color rojo aún más oscuro */
    transform: scale(0.98); /* Hace un pequeño "encogimiento" */
}